/* Estilos formulario de Registro - Doctor */

.contenedorFormulario {

  color: red;


}

.Formulario {

  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: black;

}
